{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="main-container">
    <section class="page-header">
        <div class="container">
            <h1 class="page-title">Titre de la Page</h1>
            <p class="page-subtitle">Une petite description ou un breadcrumb ici</p>
            <nav class="breadcrumb">
                <ul>
                    <li class="breadcrumb-item">
                        <a href="index.html">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="index.html">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="cart">
        <!-- Cart Header -->
        <div class="cart-header">
            <div class="cart-col">Produit</div>
            <div class="cart-col">Prix</div>
            <div class="cart-col">Quantité</div>
            <div class="cart-col">SubTotal</div>
        </div>

        <!-- Item 1 -->
        {% for paniers in panier %}
        <div class="cart-item">
            
            <div class="cart-col product-info">
                <img src="/uploads/products/{{ paniers.product.image }}" alt="{{ paniers.product.name }}">
                <span>{{ paniers.product.name }}</span>
            </div>
            <div class="cart-col">{{ paniers.product.price }} FCFA</div>
            <!-- <div class="cart-col"><input type="number" value="1" min="1"></div> -->
            <div class="cart-col">{{ paniers.quantity }}</div>
            <div class="cart-col">{{ subtotal }}</div>
        </div>

        {% endfor %}

        <!-- Actions -->
        <div class="actions">
            <div>
                <input type="text" placeholder="Coupon Code">
                <button>Apply Coupon</button>
            </div>
            <button>Update Cart</button>
        </div>

        <!-- Cart Total -->
        <div class="cart-total">
            <p><strong>Subtotal:</strong> <span>$1750</span></p>
            <p><strong>Shipping:</strong> <span>Free</span></p>
            <p><strong>Total:</strong> <span>$1750</span></p>
            <button class="btn-checkout">Proceed to Checkout</button>
        </div>
    </section>
</div>

{% endblock %}