{% extends 'admin.html.twig' %}
{% block title %}SANT'ART BUSINESS{% endblock %}
{% block Ecommerce %}active{% endblock %}
{% block product_index %}active{% endblock %}

{% block body %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des produits</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="{{ path('app_dashboard') }}">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_product_new') }}" class="btn btn-primary text-white">Ajouter un produit</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste de tous les produits</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Slug</th>
                                    <th>Prix</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset('uploads/products/' ~ product.image) }}" alt="{{ product.name | default('Product image') }}" class="img-thumbnail" style="max-width: 50px;">
                                        </td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.slug }}</td>
                                        <td>{{ product.price|number_format(0,'',' ') }} FCFA</td>
                                        <td>{{ product.createdAt ? product.createdAt|date('d/m/Y') :'' }}</td>
                                        <td>
                                            <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                                            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                                            {{ include('admin/product/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}